@{
    ViewData["Title"] = "User Profile";
}

<head>
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
</head>

<body>
        <div id="profiles">
            <div class="profile">
                <div class="profile-content"></div>
            </div>
        </div>

    <script src="~/js/profileGlow.js"></script>
</body>