@{
    ViewData["Title"] = "User Profile";
}

<head>
    <link rel="stylesheet" href="~/css/profile/profile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/profile/profileContent.css" asp-append-version="true" />
</head>

<body>

    <div id="profiles">
        <div class="profile-side-panel">
            <ul class="nav d-flex flex-column profile-content">
                <li class="mb-1 w-100">
                    <button class="btn btn-toggle" data-bs-toggle="collapse"
                        data-bs-target="#list-collapse1" aria-expanded="true">Overview</button>
                    <div id="list-collapse1" class="collapse show">
                        <ul class="btn-toggle-nav">
                            <li class="sub-menu"><a class="btn sub-menu-btn js-Pjax" asp-controller="Profile" asp-action="UserProfile">Kys</a></li>
                            <li class="sub-menu"><a class="btn sub-menu-btn js-Pjax" asp-controller="Profile" asp-action="UserProfile2">No Kys</a></li>
                            <li class="sub-menu"><a class="btn sub-menu-btn js-Pjax" asp-controller="Profile" asp-action="UserProfile2">No Kys</a></li>
                            <li class="sub-menu"><a class="btn sub-menu-btn js-Pjax" asp-controller="Profile" asp-action="UserProfile2">No Kys</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1 w-100">
                    <button class="btn btn-toggle collapsed" data-bs-toggle="collapse"
                        data-bs-target="#list-collapse2">Option2</button>
                    <div id="list-collapse2" class="collapse hide">
                        <ul class="btn-toggle-nav">
                            <li class="sub-menu"><a class="btn sub-menu-btn js-Pjax" asp-controller="Profile" asp-action="UserProfile2">No Kys</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1 w-100">
                    <button class="btn btn-toggle collapsed" data-bs-toggle="collapse"
                        data-bs-target="#list-collapse3">Option3</button>
                    <div id="list-collapse3" class="collapse hide">
                        <ul class="btn-toggle-nav">
                            <li class="sub-menu"><a class="btn sub-menu-btn js-Pjax" asp-controller="Profile" asp-action="UserProfile2">No Kys</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1 w-100">
                    <button class="btn btn-toggle collapsed" data-bs-toggle="collapse"
                        data-bs-target="#list-collapse4">Option4</button>
                    <div id="list-collapse4" class="collapse hide">
                        <ul class="btn-toggle-nav">
                            <li class="sub-menu"><a class="btn sub-menu-btn js-Pjax" asp-controller="Profile" asp-action="UserProfile2">No Kys</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1 w-100">
                    <button class="btn  btn-toggle collapsed" data-bs-toggle="collapse"
                        data-bs-target="#list-collapse5">Option5</button>
                    <div id="list-collapse5" class="collapse hide">
                        <ul class="btn-toggle-nav">
                            <li class="sub-menu"><a class="btn sub-menu-btn js-Pjax" asp-controller="Profile" asp-action="UserProfile2">No Kys</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <section class="profile the-content">
            <div class="profile-border">
                <h1>Kys</h1>
            </div>
        </section>
    </div>
    <script src="~/js/profile/profileGlow.js"></script>
    <script src="~/js/profile/profileArrowRotate.js"></script>
    <script src="~/lib/node_modules/pjax/pjax.js"></script>
    <script src="~/js/profile/profilePjax.js"></script>
</body>