@model TheSchizoGamblers.Models.ViewModels.GamblersViewModel

@{
    ViewData["Title"] = "Register";
}

<h1 style="text-align:center">Register</h1>
<form method="post" action="Gamblers" class="fromating">
    <div class="mb-3">
        <label for="" class="form-label">Username</label>
        <input type="text" class="form-control" asp-for="Username">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="Password">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Date Of Birth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
