@model TheSchizoGamblers.Models.ViewModels.GamblersViewModel

@{
    ViewData["Title"] = "Register";
}

<h1 style="text-align:center">Register</h1>
<div class="formating">
    <form asp-action="Gamblers" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="" class="form-label">Profile Picture</label>
            <input type="file" class="form-control" asp-for="ProfilePic">
            <span asp-validation-for="ProfilePic" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Username</label>
            <input type="text" class="form-control" asp-for="Username">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Email</label>
            <input type="email" class="form-control" asp-for="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Password</label>
            <input type="password" class="form-control" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Date Of Birth</label>
            <input type="date" class="form-control" asp-for="DateOfBirth">
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
