@model TheSchizoGamblers.Models.ViewModels.LogInViewModel

@{
    ViewData["Title"] = "LogIn";
}
@section Styles {
    <link rel="stylesheet" href="~/css/registerForm/logIn/logIn.css" asp-append-version="true" />
}

<div class="form-container">
    <div class="form-box">
        <form asp-action="LogIn">
            <h2 class="form-title">Log In</h2>
            <div class="input-field">
                <input id="loginInput" type="text" asp-for="Username">
                <label id="loginLabel" class="form-label-login">Username</label>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="input-field">
                <input id="loginInput" type="password" asp-for="Password">
                <label id="loginLabel" class="form-label-login">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="submit-button">
                <button type="submit" class="btn-submit">Submit</button>
            </div>

            <div class="register">
                <p>Don't have a account? <a asp-controller="Gamblers" asp-action="Gamblers">Register</a></p>
            </div>
        </form>
    </div>
</div>

<script src="~/js/registerForm/logIn/logInTextAnimation.js"></script>