@model TheSchizoGamblers.Models.Games.SlotsModel

@{
    ViewData["Title"] = "Slots";
}

<head>
    <link rel="stylesheet" href="~/css/slots.css" asp-append-version="true" />
</head>

<body>


    <div class="slots-container">
        <div class="slots-items">
            @for (int i = 0; i < 3; i++)
            {
                @for (int j = 0; j < 5; j++)
                {
                    <div class="slots-image">
                        <img src="~/images/slotsImages/@(Model.SlotsArray[i, j]).png">
                    </div>
                }
            }

        </div>
    </div>
    <form asp-action="Slots">
        <div class="slots-button">
            <button class="btn btn-success" type="submit">Spin!</button>
        </div>
    </form>

</body>
