@model TheSchizoGamblers.Models.ViewModels.ProfilePicViewModel

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a testing page now.</p>


<img src="@Model.ProfilePicture">
