/*Profile Body and Side Panel*/
/*#222*/
:root {
    --profile-color: #222;
}

#profiles{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px auto 0 auto;
}

.profile {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    height: 750px;
    position: relative;
    width: 75%;
    overflow: auto;
}
.profile-side-panel{
    background-color: #222;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    height: 750px;
    position: relative;
    width: 250px;
    overflow: auto;
    margin-right: 5px;
}
.profile>.profile-border {
    background-color: var(--profile-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}
