/*Profile Content*/
.profile-content {
    margin: 5px 10px auto 10px;
    align-items: start;
}

.btn-toggle{
    margin-bottom: 3px;
    margin-left: 1.3px;
    width: 100%;
    font-weight: bold;
    transition: 0.25s ease-in;
}

.btn-toggle:hover{
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.25s ease-in;
}

.btn-toggle:focus{
    box-shadow: 0 0 0 0.1rem white;
}
.btn-toggle::before{
    content: '';
    margin-top: 7.5px;
    position: absolute;
    left: 20px;
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
.btn-toggle::before{
    transform: rotate(-45deg);
    transition: transform 0.5s;
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(45deg) translateY(-2px) translateX(-1px);
    transition: transform 0.5s;
}
.btn-toggle-nav{
    list-style: none;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.sub-menu{
    margin-bottom: 5px;
}
.sub-menu-btn{
    width: 100%;
    transition: 0.25s ease-in;
}
.sub-menu-btn:hover{
    background-color: rgba(255, 255, 255, 0.05);
    transition: 0.25s ease-out;
}
.sub-menu-btn:focus{
    box-shadow: 0 0 0 0.1rem white;
}
.sub-menu-btn-special{
    color: #00bc8c;
}
.bold-text{
    font-weight: bold;
}