
img {
    max-width: 100%;
    height: auto;
}
.carousel-caption h5, .carousel-caption p {
    font-weight: bold;
} 

.carousel-item img {
    height: 750px;
}
.games-text{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 40px;
    color: rgb(240, 240, 240);
} 
  .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
  }
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: block;
  }