*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
.carousel-caption h5, .carousel-caption p {
    font-weight: bold;
} 

.carousel-item img {
    height: 750px;
}
.games-text{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 40px;
    color: rgb(240, 240, 240);
}