*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
.carousel-caption h5, .carousel-caption p {
    font-weight: bold;
} 

.carousel-item img {
    height: 750px;
}