.slots-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.slots-container {
    display: flex;
    width: calc((180px * 5) + (8px * 4) + (8px * 2));
    margin: 20px auto 0 auto;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: rgba(139, 0, 139, .9);
    border: 8px solid rgba(139, 0, 139, .9);
    border-radius: 12px;
}

.slots-items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: calc((180px * 5) + (8px * 4));
    align-items: center;
    justify-content: center;
}

.slots-image {
    display: flex;
    width: 180px;
    height: 180px;
    overflow: hidden;
    transition: 500ms;
}
.slots-image img{
    border-radius: 5px;
}
.slots-image:hover {
    transform: translateY(5px);
}